<div class="actor-content">
    <span class="actor-name"><%= first_name + ' ' + last_name %></span>
    <span class="actor-info-btn"><a onclick="window.location='/videot/nayttelija/<%= id %>'+window.location.search;" 
        target="_self" ><button>Näyttää videolista</button></a>
    </span>
</div>