<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<header>
    <nav>
        <ul>
            <li><img src="/svg/sakila.svg" alt="Sakila" width="100px" height="100px"/></li>

            <li><a id="home" href="/">Koti</a></li>
            <li><a id="add" href="/videot">Videot</a></li>

        </ul>
    </nav>
</header>