<select>
    <option>Kaikki</option>
    <option value="action">Toiminta</option>
    <option value="sci-fi">Sci-Fi</option>
    <option value="drama">Draama</option>
    <option value="animation">Animaatio</option>
    <option value="children">Lapset</option>
    <option value="classics">Klasikkoita</option>
    <option value="comedy">Komedia</option>
    <option value="documentary">Doukmentti</option>
    <option value="family">Perhe</option>
    <option value="foreign">Ulkomaa</option>
    <option value="games">Peli</option>
    <option value="horror">Kauhu</option>
    <option value="music">Musikki</option>
    <option value="new">Uusi</option>
    <option value="sports">Urheilu</option>
    <option value="travel">Matkustaminen</option>
</select>