<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
    <title>Koti - Sakila</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div id="site-content">
        <h1>Sakila</h1>
        <p>Tervetuloa Sakilan videovuokramyynti kotisivustoon.</p>
        <a href="/videot"><button>Selaa kauppa</button></a>
    </div>
</body>
</html>