<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
    <title>Videot - Sakila</title>
</head>    
<body>
    <div id="site-content">
        <h1><%= video.title %></h1>
    </div>
</body>
</html>