<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
    <title>404 - Sakila</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div id="site-content">
        <h1>404: ei löytyy</h1>
        <a href="/"><button>Takaisin kotisivustoon</button></a>
    </div>
</body>
<%- include('partials/footer') %>
</html>