<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
    <link rel="stylesheet" href="/styles/video.css">
    <script src="/js/video.js" defer></script>
    <script src="/js/search.js" defer></script>
    <title>Videot - Sakila</title>
</head>    
<body>
    <div id="site-content">
        <h1>Videot</h1>

        <div class="container">
            <div class="filter-nav">
                <span id="search-bar">
                    <input type="text" size="57" placeholder="Syötä hakusana" height="50">
                </span>
                <span>Kategoria:</span>
                <%- include('partials/options') %>
                <span></span>
            </div>
            <div class="video-container">
                <% videos.forEach(video => { %>
                    <div class="video-item">
                        <%- include('partials/videoItemContent', {id:video.film_id, name:video.title, 
                            category:video.category, description:video.description, price:String(video.price).replace('.', ',')}) %>
                    </div>
                <% }) %>
                </div>
            </div>
            <%- include('partials/pageNav', {page:page, count:count}) %>
        </div>
    </div>
</body>
</html>
