<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
    <link rel="stylesheet" href="/styles/video.css">
    <title>Videot - Sakila</title>
</head>    
<body>
    <div id="site-content">
        <h1>Videot</h1>

        <div class="container">
            <div class="filter-nav">
                <span></span>
                <span>Kategoria:</span>
                <select>
                    <option>Kaikki</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Drama">Draama</option>
                    <option value="Animation">Animaatio</option>
                </select>
                <span></span>
            </div>
            <div class="video-container">
                <% videos.forEach(video => { %>
                    <div class="video-item">
                            <%- include('partials/videoItemContent', {id:video.film_id, name:video.title, 
                                category:video.category, description:video.description, price:video.price}) %>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
