.container {
    display: grid;
    grid-template-rows: 10em 1fr;
}

.filter-nav {
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 0.5fr;
    
}

.filter-nav > select {
    height: 25px;
    border-style:ridge;
}

.dropdown-btn {
    background-color: #20aad8;
    color: white;
    /* padding: 5px; */
    font-size: 16px;
    /* border: 30%; */
    cursor: pointer;
  }

.dropdown-box{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown-box:hover .dropdown-content {display: block;}
.dropdown-box:hover .dropdown-btn {background-color: #3e8e41;}

.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 300px;
    max-width: 900px;
}

.video-item{
    background-color: white;
    border-style: groove;
    border-color: black;
    margin-bottom: 20px;
}

.video-content{
    display: grid;
    text-align: left;
    margin: 25px; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.video-name{
    padding-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.video-category, .video-price, .video-info-btn{
    text-align: right;
}

.video-price{
    font-size: 30px;
}

.video-info-btn{
    margin-top: 14px;
}

.page-nav {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-bottom: 80px;
}

.page-nav button {
    vertical-align: middle;
    line-height: 0;
    width: 70px;
    height: 20px;
}